{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/house.css"><!--Link to CSS-->
{% endblock style %}
{% block user_info %}
    {% if status == False %}
        <a href="{% url 'login' %}">Login</a>
    {% else %}
        <a href="{% url 'logout' %}" style="color: #ff665a">Logout</a>
    {% endif %}
{% endblock user_info %}
{% block body %}
    <!--Subheading-->
    <section id="banner">
        <div class="container">
            <h1>{{ current_home.name }}
            </h1>
        </div>
    </section>

    <!--Sidebar-->
    <div class="container">
        <section id="main" style="background-image: url({{ current_home.pic.url }})"></section>
        <aside id="sidebar">
            <h1>{{ current_home.price }} AUD</h1>
            <table>
                <tr>
                    <td>Rooms</td>
                    <td>{{ current_home.rooms }}</td>
                </tr>
                <tr>
                    <td>Bond</td>
                    <td>{{ current_home.bond }} AUD</td>
                </tr>
                <tr>
                    <td>Available</td>
                    <td>{{ current_home.available }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ current_home.ow_email }}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{ current_home.ow_phone }}</td>
                </tr>
            </table>
            <button type="button">Contact Owner</button> <!--Button to contact owner-->
        </aside>
    </div>
{% endblock body %}
{% block info %}
    <div id="content">
        <h3>Property Description</h3>
        <p>{{ current_home.description }}
        </p>
        <p>This 50sqm internal studio apartment offers the bonus of a private balcony and separate storage.

            With no expense spared, this unique open plan studio is beautifully presented with high quality finishes and
            appliances which are also standard throughout the building

            With 62 apartments over 13 levels, each has its own individual character. Choose from Studio, one, two and,
            three-bedroom apartments</p>

        <p>The building is architecturally designed to give you breathtaking views, bringing the beauty of the surrounds
            inside. Your City facing apartments take in Centennial Park towards the CBD skyline to the Harbour Bridge
            and Opera House. Looking south, you can see all the way to Botany Bay.

            Every detail has been curated to take make the most of light and nature. Inspired by the casual yet
            sophisticated lifestyle of Oxford Street, your interior evokes a sense of calm and elegance. These luxurious
            residences convey the best of city lifestyle, making the most of their leafy outlooks and panoramic views
            with a natural flow of open space. The relaxed, contemporary colour palette includes wide oak floorboards
            and dark Caesarstone benchtops in your kitchen and bathrooms. With the latest Gaggenau and Bosch appliances,
            entertaining has never been so easy. Clever design features include hidden handles, bespoke lighting and
            invisible storage all meticulously considered for the highest-quality luxury aesthetic. With spectacular
            panoramic views across Sydney, the rooftop garden is an oasis in the sky.</p>
    </div>
{% endblock info %}