<!DOCTYPE html>
<html>
<head>
	<!--Title-->
	<title>Budget Homes</title>
	<link rel="stylesheet" type="text/css" href="css/moderation.css"> <!--Link to CSS-->
</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Responsive View-->
<body>

	<header id="header">
		<div class="container">
			<h1>Budget Homes</h1>
		</div>
	</header>


<!--Navigation-->
	<nav id="navigation">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="listings.html">Listings</a></li>
				<li><a href="owners.html">Owners</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="login_previous.html">Login</a></li>
			</ul>
		</div>
	</nav>

<!--Listing-->
	<section id="banner">
		<div class="container">
			<h1>Approval of : 445 Harvard St Centennial Park 2231
			</h1>
		</div>
	</section>

	<div class="container">
		<section id="main"></section>
		<aside id="sidebar">
			<h1>249 AUD</h1>
			<table>
				  <tr>
				    <td>Rooms</td>
				    <td>3</td>
				  </tr>
				  <tr>
				    <td>Bond</td>
				    <td>300 AUD</td>
				  </tr>
				  <tr>
				    <td>Available</td>
				    <td>2021 Onwards</td>
				  </tr>
				  <tr>
				    <td>Email</td>
				    <td>Joe@yahoo.com</td>
				  </tr>
				  <tr>
				    <td>Contact</td>
				    <td>046464849</td>
				  </tr>
			</table>
			<button type="button">Contact Owner</button>
		</aside>
	</div>	
	<div>
		<div id="content">
			<h3>Property Description</h3>
			<p>This 50sqm internal studio apartment offers the bonus of a private balcony and separate storage.

			With no expense spared, this unique open plan studio is beautifully presented with high quality finishes and appliances which are also standard throughout the building

			With 62 apartments over 13 levels, each has its own individual character. Choose from Studio, one, two and, three-bedroom apartments</p>

			<p>The building is architecturally designed to give you breathtaking views, bringing the beauty of the surrounds inside. Your City facing apartments take in Centennial Park towards the CBD skyline to the Harbour Bridge and Opera House. Looking south, you can see all the way to Botany Bay.

			Every detail has been curated to take make the most of light and nature. Inspired by the casual yet sophisticated lifestyle of Oxford Street, your interior evokes a sense of calm and elegance. These luxurious residences convey the best of city lifestyle, making the most of their leafy outlooks and panoramic views with a natural flow of open space. The relaxed, contemporary colour palette includes wide oak floorboards and dark Caesarstone benchtops in your kitchen and bathrooms. With the latest Gaggenau and Bosch appliances, entertaining has never been so easy. Clever design features include hidden handles, bespoke lighting and invisible storage all meticulously considered for the highest-quality luxury aesthetic. With spectacular panoramic views across Sydney, the rooftop garden is an oasis in the sky.</p>

		</div>
	</div>
	
<!--Buttons for Approval or Rejection-->
	<div id="approve">
		<button type="button">Approve</button>
	</div>
	<div id="reject">
		<button type="button">Reject</button>
	</div>

<!--Footer-->
	<div>
		<footer id="footer">
			<p>Copyright &copy; 2020 Budget Homes</p>
		</footer>
	</div>
</body>
</html>